.hero-section {
    display: flex;
    align-items: center;
}

.title {
    color: #6366f1;
    font-size: 3.5rem;

    /* 70px хедера + 130px воздуха под ним. Меняй вторую цифру, чтобы двигать ниже/выше */
    margin-top: calc(70px + 130px);
    font-weight: 800;
}

.subtitle {
    font-size: 1.2rem;
    color: #94a3b8;
    max-width: 600px;
    margin: 20px 0 35px 0;
    text-align: center;
    margin: 20px auto 35px auto; /* auto по бокам центрирует сам блок */

}
