.hero-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.hero-title {
    font-size: 3.5rem;
    margin-top: 20px;
    font-weight: 800;
}
.hero-title span {
    color: #7c3aed;
    text-shadow: 0 0 20px rgba(56, 189, 248, 0.3);
}
.hero-subtitle {
    font-size: 1.2rem;
    color: #94a3b8;
    max-width: 600px;
    margin: 20px 0 35px 0;
}
.hero-buttons {
    display: flex;
    gap: 15px;
}
.btn {
    padding: 12px 28px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.95rem;
    transition: all 0.3s ease;
}
.btn-primary {
    background-color: #7c3aed;
    color: #ffffff;
}
.btn-primary:hover {
    background-color: #7c3aed;
    box-shadow: 0 0 25px #a855f7
}
.btn-secondary {
    border: 1px solid rgba(148, 163, 184, 0.3);
    color: #e2e8f0;
}
.btn-secondary:hover {
    background-color: rgba(255, 255, 255, 0.05);
    border-color: #e2e8f0;
}
.hero-badge {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 4px;
    color:  #a8a095;
    opacity: 0.9;
    margin-bottom: -48px !important;

    /* СДВИГ ВПРАВО: подбери цифру, чтобы встало в ровень с буквой П */
    padding-left: 4px;
}

