/* Подключаем все файлы стилей в один */
@import 'header.css';
@import 'hero.css';
@import 'projects.css';
@import 'feedback.css';
@import 'developers.css';
@import '404.css';
/* Изменяет цвет для всего сайта */
body {
    /* Цвет фона */
    background: #101010;
    color: #c9d1d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 60px 20px;
}
/* Цвет выделения текста */
/* Для всего сайта */
::selection {
    background-color: #aaaaaa; /* Цвет фона при выделении */
    color: #ffffff;            /* Цвет текста при выделении */
}

/* Для браузеров на движке Firefox */
::-moz-selection {
    background-color: #aaaaaa;
    color: #ffffff;
}
/* Подключаем обычный начертание Monaspace Krypton */
@font-face {
  font-family: 'Monaspace Krypton';
  src: url('/fonts/MonaspaceKrypton-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Подключаем жирный Monaspace Krypton для заголовков */
@font-face {
  font-family: 'Monaspace Krypton';
  src: url('/fonts/MonaspaceKrypton-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Применяем ко всему сайту */
html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* Твой зафиксированный скролл */
  box-sizing: border-box;
  background-color: #101010; /* Фирменный черный */

  /* Включаем гитхабовский Криптон */
  font-family: 'Monaspace Krypton', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
