/* Подключаем все файлы стилей в один */
@import 'hero.css';
@import 'projects.css';
@import 'feedback.css';
@import 'page2.css';
@import 'maintenance.css';
@import 'services.css';
@import 'portfolio.css'; /* НАША НОВАЯ СТРОЧКА */
@import 'hs-Site.css';
@import 'developers.css';
/* Изменяет цвет для всего сайта */
body {
    /* Создает круглый градиент из самого центра экрана */
        background: radial-gradient(circle at center, #6366f1 0%, #000000 125%) !important;/* цвета первый тот что в центе второй то что с краёв
    color: #c9d1d9; /* Светло-серый текст, чтобы глаза не уставали */
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 60px 20px;
}
